@use "../utils/mixins"as*;
@use "../utils/functions/"as*;

.btn {
  @include font-size(14, 16);
  @include flex-all-center;

  position: relative;
  display: block;
  border-width: 0;
  border-radius: 100px;
  padding: 17px clamp(10px, rem(18), 18px);
  width: 100%;
  height: fit-content;
  max-width: 260px;
  font-family: var(--font-family-secondary);
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-white);
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 100px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #80d0c8 0%, #0596e8 59%);
    opacity: 0;
    transition: opacity 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 100px;
    width: 100%;
    height: 100%;
    background: var(--color-gradient-main);
    opacity: 1;
    transition: opacity 0.3s;
  }

  &:hover,
  &:focus {
    &::before {
      opacity: 1;
      visibility: visible;
    }

    &::after {
      opacity: 0;
    }
  }

  @include media(mobile-s) {
    margin: 0 auto;
  }
}