@use "../utils/mixins"as*;
@use "../utils/functions/"as*;

.content {
  width: 100%;

  &__wellcome {
    @include flex-all-sb;

    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid var(--color-gray-50);
    padding: 25px rem(42) 25px 27px;
    width: calc(100% - 260px);
    background-color: var(--color-white);

    @include media(tablet) {
      flex-direction: column;
      padding: 20px;
    }

    @include media(mobile-l) {
      position: relative;
      padding: 10px;
      width: 100%;
    }
  }

  &__date {
    @include font-size(18, 21);

    margin-bottom: 6px;
    color: rgba(26, 26, 26, 0.5);

    span {
      &:not(:last-child) {
        margin-right: rem(30);

        @include media(tablet-wide) {
          margin-right: 0;
          margin-bottom: 10px;
        }

        @include media(tablet) {
          margin-right: 20px;
          margin-bottom: 0;
        }
      }
    }

    @include media(tablet-wide) {
      @include flex;

      flex-direction: column;
    }

    @include media(tablet) {
      flex-direction: row;
    }

    @include media(mobile-l) {
      @include font-size(17, 19);
    }
  }

  &__title {
    @include media(tablet) {
      margin-bottom: 20px;
    }
  }

  &__inner {
    @include flex-sb;

    padding-top: var(--wellcome-height);
    height: 100%;

    @include media(tablet) {
      flex-direction: column;
      height: auto;
    }

    @include media(mobile-l) {
      padding-top: 20px;
    }
  }

  &__main {
    overflow-x: clip;
    overflow-y: auto;
    padding: rem(33) rem(28);
    width: 100%;

    @include media(tablet-wide) {
      padding: rem(20);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    &--cryptomaker {
      margin-bottom: rem(42);

      .cryptomaker:last-child {
        @include media(tablet-wide) {
          grid-column: 1 / span 2;
        }

        @include media(mobile-s) {
          grid-column: auto;
        }
      }

      @include media(tablet-wide) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media(mobile-s) {
        grid-template-columns: 1fr;
      }
    }
  }

  &--deposit {
    .form {
      margin-bottom: 0;
      padding-top: rem(42);

      &::before {
        top: 0;
        bottom: auto;
      }

      &__grid {
        grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));

        @include media(desktop-s) {
          bottom: -15px;
        }
      }

      &__item {
        &--radios {
          grid-area: auto;
        }
      }
    }
  }

  &--thin {
    .content {
      &__main {
        padding: 19px rem(28);

        @include media(tablet-wide) {
          padding: rem(20);
        }
      }
    }
  }
}