@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.form-history {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 26px;
  gap: rem(45) 10px;

  &__box {
    display: grid;
    align-items: center;
    justify-content: start;
    grid-template-columns: 45px repeat(3, 100px);
    gap: 15px;

    span {
      text-transform: capitalize;
    }
  }

  .selectric-wrapper {
    padding: 10px;
  }

  input.selectric-wrapper {
    text-align: center;
  }

  &.form {
    margin-bottom: rem(31);

    &::before {
      bottom: 0;
    }
  }
}