@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.history {
  margin-top: -5px;

  &__title {
    margin-bottom: rem(23);
  }

  .table {
    &__row {
      padding: 14px 30px;
    }

    &__title {
      &--third {
        transform: translateX(-40%);
      }
    }

    p {
      @include font-size(14, 17);
    }
  }
}