<aside class="navigation scroll">

  <div class="logo">
    <img class="logo__image" src="./images/logo.svg" alt="Trust FX logo" height="37" width="160" loading="lazy">
  </div>

  <div class="navigation__inner ">
    <div class="navigation__wallet">
      <div class="navigation__wallet-number">
        <span>
          Saved money
        </span>

        <span class="text-gradient">
          $56.874
        </span>
      </div>

      <ul class="navigation__wallet-direction">
        <li class="navigation__wallet-item">
          <a class="navigation__wallet-link navigation__wallet-link--up" href="#" aria-label="Up trade">
          </a>
        </li>

        <li class="navigation__wallet-item">
          <a class="navigation__wallet-link navigation__wallet-link--down" href="#" aria-label="Up trade">
          </a>
        </li>
      </ul>
    </div>

    <nav class="navigation__menu">
      <ul class="navigation__btns">
        <li class="navigation__btn navigation__btn--active ">
          <a class="navigation__btn-link navigation__btn-link--account btn" href="#">
            <span>Your account</span>
          </a>
        </li>

        <li class="navigation__btn ">
          <a class="navigation__btn-link navigation__btn-link--deposit btn" href="#">
            <span>Make deposit</span>
          </a>
        </li>

        <li class="navigation__btn ">
          <a class="navigation__btn-link navigation__btn-link--withdraw btn" href="#">
            <span>Withdraw</span>
          </a>
        </li>
      </ul>

      <ul class="navigation__list">
        <li class="navigation__item navigation__item--squere">
          <a class="navigation__link navigation__link--active" href="#">
            Your deposits
          </a>
        </li>

        <li class="navigation__item navigation__item--book">
          <a class="navigation__link" href="#">
            Deposits history
          </a>
        </li>

        <li class="navigation__item navigation__item--history">
          <a class="navigation__link" href="#">
            Earning history
          </a>
        </li>

        <li class="navigation__item navigation__item--withdraw">
          <a class="navigation__link" href="#">
            Withdrawals history
          </a>
        </li>

        <li class="navigation__item navigation__item--refferals">
          <a class="navigation__link" href="#">
            Your refferrals
          </a>
        </li>

        <li class="navigation__item navigation__item--banner">
          <a class="navigation__link" href="#">
            Affilliate baners
          </a>
        </li>

        <li class="navigation__item navigation__item--settings">
          <a class="navigation__link" href="#">
            Edit account
          </a>
        </li>

        <li class="navigation__item navigation__item--shield">
          <a class="navigation__link" href="#">
            Security
          </a>
        </li>

        <li class="navigation__item navigation__item--logout">
          <a class="navigation__link" href="#">
            Log Out
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <button class="burger" data-burger type="button">
  </button>
</aside>