<div class="currencies scroll">
  <h2 class="currencies__title title title--secondary">
    We accept
  </h2>

  <ul class="currencies__list">
    <li class="currencies__item">
      <img class="currencies__image" src="./icons/tether-usdt-trc20.svg" width="48" height="42" alt="Tether" loading="lazy">

      <span class="currencies__name">
        Tether trc 20
      </span>

      <span class="currencies__ammount">
        $20.00
      </span>
    </li>

    <li class="currencies__item">
      <img class="currencies__image" src="./icons/tether-usdt-ether.svg" width="48" height="42" alt="Tether" loading="lazy">

      <span class="currencies__name">
        Tether erc 20
      </span>

      <span class="currencies__ammount">
        $20.00
      </span>
    </li>

    <li class="currencies__item">
      <img class="currencies__image" src="./icons/busd.svg" width="48" height="42" alt="BUSD" loading="lazy">

      <span class="currencies__name">
        BUSD
      </span>

      <span class="currencies__ammount">
        $20.00
      </span>
    </li>

    <li class="currencies__item">
      <img class="currencies__image" src="./icons/usdc.svg" width="48" height="42" alt="USDC" loading="lazy">

      <span class="currencies__name">
        USDC
      </span>

      <span class="currencies__ammount">
        $20.00
      </span>
    </li>

    <li class="currencies__item">
      <img class="currencies__image" src="./icons/tron.svg" width="48" height="42" alt="TRON" loading="lazy">

      <span class="currencies__name">
        Tron
      </span>

      <span class="currencies__ammount">
        $20.00
      </span>
    </li>

    <li class="currencies__item">
      <img class="currencies__image" src="./icons/bitcoin.svg" width="48" height="42" alt="Bitcoin" loading="lazy">

      <span class="currencies__name">
        Bitcoin
      </span>

      <span class="currencies__ammount">
        $20.00
      </span>
    </li>

    <li class="currencies__item">
      <img class="currencies__image" src="./icons/etherum.svg" width="48" height="42" alt="Ethereum" loading="lazy">

      <span class="currencies__name">
        Ethereum
      </span>

      <span class="currencies__ammount">
        $20.00
      </span>
    </li>

    <li class="currencies__item">
      <img class="currencies__image" src="./icons/bnb.svg" width="48" height="42" alt="BNB" loading="lazy">

      <span class="currencies__name">
        BNB
      </span>

      <span class="currencies__ammount">
        $20.00
      </span>
    </li>

    <li class="currencies__item">
      <img class="currencies__image" src="./icons/ripple.svg" width="48" height="42" alt="Ripple" loading="lazy">

      <span class="currencies__name">
        Ripple
      </span>

      <span class="currencies__ammount">
        $20.00
      </span>
    </li>

    <li class="currencies__item">
      <img class="currencies__image" src="./icons/lightcoin.svg" width="48" height="42" alt="Lightcoin" loading="lazy">

      <span class="currencies__name">
        Litecoin
      </span>

      <span class="currencies__ammount">
        $20.00
      </span>
    </li>

    <li class="currencies__item">
      <img class="currencies__image" src="./icons/dogecoin.svg" width="48" height="42" alt="Dogecoin" loading="lazy">

      <span class="currencies__name">
        Dogecoin
      </span>

      <span class="currencies__ammount">
        $20.00
      </span>
    </li>

    <li class="currencies__item">
      <img class="currencies__image" src="./icons/wallet.png" width="48" height="42" alt="Wallet" loading="lazy">

      <span class="currencies__name">
        Epaycore
      </span>

      <span class="currencies__ammount">
        $20.00
      </span>
    </li>
  </ul>
</div>