<div class="currency">
  <h2 class="currency__title title title--secondary">
    Enter your E-currency Accounts
  </h2>

  <ul class="currency__list">
    <li class="currency__item">
      <span class="currency__name">
        Your Bitcoin acc no
      </span>

      <div class="currency__info">
        <div class="currency__logo">
          <img class="currency__image" src="./images/logos/bitcoin.png" width="82" height="20" alt="Bitcoin logo"
            loading="lazy">
        </div>

        <label class="currency__code">
          <input class="currency__code-field" type="text" placeholder="u54645jko">
        </label>

        <!-- <span class="currency__code">
          u54645jko
        </span> -->
      </div>
    </li>

    <li class="currency__item">
      <span class="currency__name">
        Your Liteoin acc no
      </span>

      <div class="currency__info">
        <div class="currency__logo currency__logo--ligthcoin">
          <img class="currency__image" src="./icons/lightcoin.svg" width="82" height="20" alt="Lightcoin logo"
            loading="lazy">
        </div>

        <label class="currency__code">
          <input class="currency__code-field" type="text" placeholder="u54645jko">
        </label>

        <!-- <span class="currency__code">
          u54645jko
        </span> -->
      </div>
    </li>

    <li class="currency__item">
      <span class="currency__name">
        Your Dogecoin acc no
      </span>

      <div class="currency__info">
        <div class="currency__logo">
          <img class="currency__image" src="./images/logos/dogecoin-logo.png" width="82" height="20" alt="Dogecoin logo"
            loading="lazy">
        </div>

        <label class="currency__code">
          <input class="currency__code-field" type="text" placeholder="u54645jko">
        </label>

        <!-- <span class="currency__code">
          u54645jko
        </span> -->
      </div>
    </li>

    <li class="currency__item">
      <span class="currency__name">
        Your Etherneum acc no
      </span>

      <div class="currency__info">
        <div class="currency__logo">
          <img class="currency__image" src="./images/logos/etherneum.png" width="82" height="20" alt="Etherneum logo"
            loading="lazy">
        </div>

        <label class="currency__code">
          <input class="currency__code-field" type="text" placeholder="u54645jko">
        </label>

        <!-- <span class="currency__code">
          u54645jko
        </span> -->
      </div>
    </li>

    <li class="currency__item">
      <span class="currency__name">
        Your Ripple acc no
      </span>

      <div class="currency__info">
        <div class="currency__logo">
          <img class="currency__image" src="./images/logos/ripple-logo.png" width="82" height="20" alt="Ripple logo"
            loading="lazy">
        </div>

        <label class="currency__code">
          <input class="currency__code-field" type="text" placeholder="u54645jko">
        </label>

        <!-- <span class="currency__code">
          u54645jko
        </span> -->
      </div>
    </li>

    <li class="currency__item">
      <span class="currency__name">
        Your Tether ERC20 acc no
      </span>

      <div class="currency__info">
        <div class="currency__logo">
          <img class="currency__image" src="./images/logos/tether.svg" width="82" height="20" alt="Tether ERC20 logo"
            loading="lazy">
        </div>

        <label class="currency__code">
          <input class="currency__code-field" type="text" placeholder="u54645jko">
        </label>

        <!-- <span class="currency__code">
          u54645jko
        </span> -->
      </div>
    </li>

    <li class="currency__item">
      <span class="currency__name">
        Your Tether TRC20 acc no
      </span>

      <div class="currency__info">
        <div class="currency__logo">
          <img class="currency__image" src="./images/logos/trc-20.svg" width="82" height="20" alt="Tether TRC20 logo"
            loading="lazy">
        </div>

        <label class="currency__code">
          <input class="currency__code-field" type="text" placeholder="u54645jko">
        </label>

        <!-- <span class="currency__code">
          u54645jko
        </span> -->
      </div>
    </li>

    <li class="currency__item">
      <span class="currency__name">
        Your Tether BEP20 acc no
      </span>

      <div class="currency__info">
        <div class="currency__logo">
          <img class="currency__image" src="./images/logos/ether-20.svg" width="82" height="20" alt="Tether BEP20 logo"
            loading="lazy">
        </div>

        <label class="currency__code">
          <input class="currency__code-field" type="text" placeholder="u54645jko">
        </label>

        <!-- <span class="currency__code">
          u54645jko
        </span> -->
      </div>
    </li>

    <li class="currency__item">
      <span class="currency__name">
        Your Tron acc no
      </span>

      <div class="currency__info">
        <div class="currency__logo">
          <img class="currency__image" src="./images/logos/tron.png" width="82" height="20" alt="Tron logo"
            loading="lazy">
        </div>

        <label class="currency__code">
          <input class="currency__code-field" type="text" placeholder="u54645jko">
        </label>

        <!-- <span class="currency__code">
          u54645jko
        </span> -->
      </div>
    </li>

    <li class="currency__item">
      <span class="currency__name">
        Your BNB acc noƒ
      </span>

      <div class="currency__info">
        <div class="currency__logo">
          <img class="currency__image" src="./images/logos/bnb-logo.svg" width="82" height="20" alt="BNB logo"
            loading="lazy">
        </div>

        <label class="currency__code">
          <input class="currency__code-field" type="text" placeholder="u54645jko">
        </label>

        <!-- <span class="currency__code">
          u54645jko
        </span> -->
      </div>
    </li>
  </ul>
</div>