<ul class="radios radios--list">
  <li class="radios__item">
    <input class="sr-only" type="radio" name="radios" id="bitcoin" checked>

    <label class="radios__btn" for="bitcoin">
      <img class="radios__image" src="./icons/bitcoin.svg" width="16" height="16" alt="Bitcoin icon" loading="lazy">

      <span>
        bitcoin
      </span>
    </label>
  </li>

  <li class="radios__item">
    <input class="sr-only" type="radio" name="radios" id="dash" checked>

    <label class="radios__btn" for="dash">
      <img class="radios__image" src="./icons/dash.svg" width="16" height="16" alt="Dash icon" loading="lazy">

      <span>
        Dash
      </span>
    </label>
  </li>

  <li class="radios__item">
    <input class="sr-only" type="radio" name="radios" id="ethereum">

    <label class="radios__btn" for="ethereum">
      <img class="radios__image" src="./icons/etherum.svg" width="16" height="16" alt="Ethereum icon" loading="lazy">

      <span>
        ethereum
      </span>
    </label>
  </li>

  <li class="radios__item">
    <input class="sr-only" type="radio" name="radios" id="ripple">

    <label class="radios__btn" for="ripple">
      <img class="radios__image" src="./icons/ripple.svg" width="16" height="16" alt="Ripple icon" loading="lazy">

      <span>
        ripple
      </span>
    </label>
  </li>

  <li class="radios__item">
    <input class="sr-only" type="radio" name="radios" id="litecoin">

    <label class="radios__btn" for="litecoin">
      <img class="radios__image" src="./icons/lightcoin.svg" width="16" height="16" alt="Litecoin icon" loading="lazy">

      <span>
        litecoin
      </span>
    </label>
  </li>

  <li class="radios__item">
    <input class="sr-only" type="radio" name="radios" id="monero">

    <label class="radios__btn" for="monero">
      <img class="radios__image" src="./icons/monero.svg" width="16" height="16" alt="Monero icon" loading="lazy">

      <span>
        monero
      </span>
    </label>
  </li>

  <li class="radios__item">
    <input class="sr-only" type="radio" name="radios" id="dogecoin">

    <label class="radios__btn" for="dogecoin">
      <img class="radios__image" src="./icons/dogecoin.svg" width="16" height="16" alt="Dogecoin icon" loading="lazy">

      <span>
        dogecoin
      </span>
    </label>
  </li>

  <li class="radios__item">
    <input class="sr-only" type="radio" name="radios" id="bitcoincash">

    <label class="radios__btn" for="bitcoincash">
      <img class="radios__image" src="./icons/bitcoin-cash.svg" width="16" height="16" alt="BitcoinCash icon" loading="lazy">

      <span>
        bitcoincash
      </span>
    </label>
  </li>
</ul>