<div class="range">

  <input class="range__text" type="number" id="rangenumber" min="0" max="100" value="0.1000000" oninput="range.value=value" step="0.00001">

  <input class="range__drag" type="range" value="0.1000000" min="0" max="100" id="range" oninput="rangenumber.value=value"  step="0.00001"/>

  <div class="range__data">
    <span>
      BTC 0.3003000
    </span>

    <span>
      BTC 0.3003000
    </span>

    <span>
      BTC 0.3003000
    </span>

    <span>
      BTC 0.3003000
    </span>
  </div>

</div>